#ios {
  width: 300px;
  height: 300px;
  overflow: auto;
}

.ui-iosscrollbar {
  position: relative;
  overflow: hidden !important;
}

  .ui-iosscrollbar-content {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
  }

  .ui-iosscrollbar-gutter {
    position: absolute;
    right: 0; top: 0;
    width: 6px;
    height: 100%;
  }
  
  .ui-iosscrollbar-handle {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 40px; /* This will be changed by JS */
    
    background: gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  
  ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
      display: block;
      height: 10px;
  }

  ::-webkit-scrollbar-button:vertical:increment {
      background-color: #fff;
  }

  ::-webkit-scrollbar-track-piece {
      background-color: #eee;
      -webkit-border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:vertical {
      height: 50px;
      background-color: #ccc;
      -webkit-border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
      width: 50px;
      background-color: #ccc;
      -webkit-border-radius: 3px;
  }